/*Reseteo de relleno y borde*/
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* Header Controls / BRAND*/


.brand-container {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-items {
    display: flex;
    justify-content: center;
    
}
.item-logo {
    height: 500px;
    display: flex;
    margin: 0 10px 0 10px; 
}


.item-marca {
    color: white;
    font-family: 'Peralta', cursive;
    font-size: 100px;
    letter-spacing: 15px;
    word-spacing: 35px;
}

.item-marca2 {
    color: white;
    font-family: 'Peralta', cursive;
    font-size: 100px;
    letter-spacing: 15px;
    word-spacing: 35px;
}

/*MENU bar*/

.menu-container {
    display: flex;
    border: 3px solid black;
    height: 150px;
    justify-content: space-around;
    padding: 0 10% 0 10%; 
    justify-items: center;
    align-items: center; 
}


.menu-items, .item {
    font-weight: 300px;
    font-size: 50px;
    color: black;
    text-decoration: none;
    letter-spacing: 2px;
    font-family: 'Peralta', cursive;
}

/*Slogan de la página, de qué se trata, cual es el tema principal e importante*/
h1 {
    display: flex;
    justify-content: center;
    color: black;
    font-family: 'Caveat', cursive;
    font-size: 80px;
    letter-spacing: 6px;
    word-spacing: 25px;
    margin-top: 100px;
    margin-bottom: 20px;
}


/*Slidershow lo estoy practicando hacer por mi cuenta*/

.slider-container{
    margin: auto;
    background-color: white;
    width: 2000px;
    padding: 30px; 
}

ul li{
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.slider{
    position: relative;
    width: 2000px;
    height: 1400px;
}

ul.slider li{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: inherit;
    height: inherit;
    background-color: white;
    transition: opacity .5s;
}

ul.slider li img{
    width: 2000px;
    height: 1400px;
    object-fit: cover;
}

ul.slider li:first-child{
    opacity: 1;
}

ul.slider li:target{
    opacity: 1;
}

.slider-menu{
    text-align: center;
    margin: 20px;
}

.slider-menu li{
    display: inline-block;
    text-align: center;
}

.slider-menu li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
}

/*Tienda/Categorias section*/

.link-categorias {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 100px;
    font-family: 'Peralta', cursive;
    padding-inline-start: 400px;
    text-decoration: none;
    padding-left: 35px;
    margin: 200px 0 100px 0;
}

.container-categorias {
    display: flex;
    justify-content: center;
    margin-top: 50px;
 
}

.items-categorias {
    display: flex;
    align-content: space-around;
   
}

.items {
    display: flex;
    justify-content: space-around;
    width: 1100px;
    height: 1400px;
    padding: 0 35px; 
}

.items-text-categorias {
    display: flex;
    color: black;
    font-size: 60px;
    font-family: 'Peralta', cursive;
    justify-content: center;
    margin-bottom: 100px;

}

/*Tips y Cuidados Section*/

.iframe {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 300px;

}


.parrafos {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    text-align: justify;
    margin: 2% 3%;
    text-indent: 5%;
    font-weight: bold;
}


/*Seguinos en Instragram*/

.instagram-container {
    margin: 200px 0 200px 0;
    display: flex;
    justify-content: space-around;
    padding-right: 5%;
    padding-left: 5%;  
}

/*Footer Controls*/

.footer-container {
    display: flex;
    background-color: black;
    justify-content: space-around;
    align-items: center;
    margin-top: 300px;
    
}

.footer-items {
    background-color: black;
    display: flex;
    justify-content: center;
    display: inline-block;
    padding-top: 40px;
    padding-bottom: 40px;
    
}

.footer-text, a {
    
    font-size: 50px;
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    line-height: 80px;
}

/*ECHEVERIAS DOCUMENTO.*/

h3 {
    color: black;
    font-size: 100px;
    font-family: 'Peralta', cursive;
    margin: 100px 0 60px 0;
}

.img-px {
    width: 1450px;
    height: 1400px;
    padding: 0 3% 0 3%;
}
p {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    text-align: justify;
    font-weight: bold;
    margin: 100px 300px 300px 300px;
    text-indent: 5%;
}

main {
    margin: 0;
}







